<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @property, url: properties_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :rent %>
  <%= form.hidden_field :address %>
  <%= form.hidden_field :year %>
  <%= form.hidden_field :memo %>
  <p>タイトル:<%= @property.name %></p>
  <p>本文:<%= @property.rent %></p>
  <p>本文:<%= @property.address %></p>
  <p>本文:<%= @property.year %></p>
  <p>本文:<%= @property.memo %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
